body{
    height: 95vh; /* a partir que fica a vista */
    width: 95;
    display: flex;
    justify-content: center; /* alinha horizontalmente no meio*/
    align-items: center; /* alinha verticalmente no meio*/
    flex-direction: column;
    color: rgb(44, 139, 44);
}